<div class="row">
    <div class="column">
        <h2>Edit Worksite</h2>
    </div>
    <div class="column">
        <p-button (click)="back()" icon="pi pi-trash" class="float-right margin-right" label="Delete" />
        <p-button (click)="back()" icon="pi pi-angle-left" class="float-right margin-right" label="Back" />
    </div>
</div>

<p-toast />

<div class="form-container" *ngIf="worksiteForm">
    <form [formGroup]="worksiteForm" (ngSubmit)="editWorksite()">
        <div class="rowForm">
            <label for="name">Name:</label>
            <input id="name" type="text" pInputText formControlName="name" />
        </div>
        <div class="rowForm ">
            <label for="address">Address:</label>
            <input id="address" type="text" pInputText formControlName="address" />
        </div>
        <div class="rowForm">
            <label for="city">City:</label>
            <input id="city" type="text" pInputText formControlName="city" />
        </div>
        <div class="rowForm">
            <label for="state">State:</label>
            <input id="state" type="text" pInputText formControlName="state" />
        </div>
        <div class="rowForm">
            <label for="zip_code">Zip:</label>
            <input id="zip_code" type="text" pInputText formControlName="zip_code" />
        </div>
        <div class="rowForm">
            <label for="start_date_of_work">Procurement start date:</label>
            <p-datepicker [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"
                formControlName="start_date_of_work" dateFormat="dd/mm/yy" [showTime]="true" [hourFormat]="'24'" />
        </div>
        <div class="rowForm">
            <label for="end_date_of_work">Procurement end date:</label>
            <p-datepicker [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"
                formControlName="end_date_of_work" dateFormat="dd/mm/yy" [showTime]="true" [hourFormat]="'24'" />
        </div>
        <div class="rowForm">
            <label for="temperature_threshold">Temperature threshold:</label>
            <input id="temperature_threshold" type="text" pInputText formControlName="temperature_threshold" readonly />
        </div>
        <div class="rowForm">
            <label for="humidity_threshold">Humidity threshold:</label>
            <input id="humidity_threshold" type="text" pInputText formControlName="humidity_threshold" readonly />
        </div>
        <div class="rowForm">
            <label for="brightness_threshold">Brightness threshold:</label>
            <input id="brightness_threshold" type="text" pInputText formControlName="brightness_threshold" readonly/>
        </div>
        <div class="rowForm">
            <label for="posture_threshold">Posture threshold:</label>
            <input id="posture_threshold" type="text" pInputText formControlName="posture_threshold" readonly />
        </div>
        <div class="rowForm">
            <label for="max_g_threshold">Max g threshold:</label>
            <input id="max_g_threshold" type="text" pInputText formControlName="max_g_threshold" readonly />
        </div>
        <div class="rowForm">
            <label for="latitude">Latitude:</label>
            <input id="latitude" type="text" pInputText formControlName="latitude"  readonly />
        </div>
        <div class="rowForm">
            <label for="longitude">Longitude:</label>
            <input id="longitude" type="text" pInputText formControlName="longitude"  readonly />
        </div>
        <br>
        <p-button type="submit" label="Submit" icon="pi pi-check" class="margin-left margin-top"></p-button>
    </form>
</div>



<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>