<div class="login-container">
    <div class="login-card">
        <img src="assets/images/bannerLogo.png" alt="Logo" class="logo">
        
        <div class="card flex justify-center logo-spacing">
            <p-inputgroup>
                <p-inputgroup-addon>
                <span class="pi pi-user"></span>
                </p-inputgroup-addon>
                <input pInputText [(ngModel)]="username" placeholder="Username" class="inputUsername" />
            </p-inputgroup>
            <p-inputgroup>
                <p-inputgroup-addon>
                    <span class="pi pi-lock"></span>
                </p-inputgroup-addon>
                <input pInputText [(ngModel)]="password" placeholder="Password" type="password" class="inputPassword" />
            </p-inputgroup>
            <br>
            <p-button icon="pi pi-check" class="buttonSubmit" label="Login" (click)="onLogin()"></p-button>
            <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
        </div>
    </div>
</div>

