<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div id="nav">
  <h3><b>SAFE</b>HELMET</h3>
  <button routerLink="/login">Login</button>
</div>

<div id="main">
  <div id="page">
    <div id="loop">
      <h1><b>SECURITY</b> IS THE NUMBER <b><i>ONE</i></b> <span>PRIORITY</span> IN EVERY <span><i>CONSTRUCTION SITE.</i></span></h1>
      <h1><b>SECURITY</b> IS THE NUMBER <b><i>ONE</i></b> <span>PRIORITY</span> IN EVERY <span><i>CONSTRUCTION SITE.</i></span></h1>
      <h1><b>SECURITY</b> IS THE NUMBER <b><i>ONE</i></b> <span>PRIORITY</span> IN EVERY <span><i>CONSTRUCTION SITE.</i></span></h1>
    </div>
    <canvas></canvas>
  </div>
  <div id="page1"></div>
  <div id="page2"></div>
  <div id="page3"></div>
</div>

<router-outlet />
