<div class="row">
    <div class="column">
        <h2>Detail</h2>
    </div>
    <div class="column">
        <p-button (click)="edit()" icon="pi pi-pencil" class="float-right margin-right" label="Edit" />
        <p-button (click)="back()" icon="pi pi-angle-left" class="float-right margin-right" label="Back" />
    </div>
</div>
<div class="details-container">
    <div class="detail-item" *ngIf="worker">
        <strong>Name:</strong> {{worker.name}}
    </div>
    <div class="detail-item" *ngIf="worker">
        <strong>Surname:</strong> {{worker.surname}}
    </div>
    <div class="detail-item" *ngIf="worker">
        <strong>Fiscal code:</strong> {{worker.fiscal_code}}
    </div>
    <div class="detail-item" *ngIf="worker">
        <strong>Email:</strong> {{worker.email}}
    </div>
    <div class="detail-item" *ngIf="worker">
        <strong>Phone:</strong> {{worker.phone}}
    </div>
    <div class="detail-item" *ngIf="worker">
        <strong>Helmet assigned:</strong> {{worker.phone}}
    </div>
</div>
