<div class="row">
    <div class="column">
        <h2>Detail</h2>
    </div>
    <div class="column">
        <p-button (click)="newWorker()" icon="pi pi-users" class="float-right margin-right" label="Add Worker" />
        <p-button (click)="editWorker()" icon="pi pi-pencil" class="float-right margin-right" label="Edit" />
        <p-button (click)="back()" icon="pi pi-angle-left" class="float-right margin-right" label="Back" />
    </div>
</div>

<div class="details-container">
    <div class="detail-item" *ngIf="worksite">
        <strong>Worksite Name:</strong> {{worksite.name}}
    </div>
    <div class="detail-item" *ngIf="worksite">
        <strong>Worksite Latitude:</strong> {{worksite.latitude}}
    </div>
    <div class="detail-item" *ngIf="worksite">
        <strong>Worksite Longitude:</strong> {{worksite.longitude}}
    </div>
    <div class="detail-item" *ngIf="worksite">
        <strong>Worksite start_date_of_work:</strong> {{worksite.start_date_of_work}}
    </div>
    <div class="detail-item" *ngIf="worksite">
        <strong>Worksite end_date_of_work:</strong> {{worksite.end_date_of_work}}
    </div>
    <div class="detail-item" *ngIf="worksite">
        <strong>Worksite address:</strong> {{worksite.address}}
    </div>
    <div class="detail-item" *ngIf="worksite">
        <strong>Worksite city:</strong> {{worksite.city}}
    </div>
    <div class="detail-item" *ngIf="worksite">
        <strong>Worksite state:</strong> {{worksite.state}}
    </div>
    <div class="detail-item" *ngIf="worksite">
        <strong>Worksite zip:</strong> {{worksite.zip}}
    </div>
</div>
<!-- <div class="details-container">
    <div *ngIf="weather">
        <h3>Current Weather</h3>
        <img [src]="weather.icon" alt="Weather Icon" />
        <p>Temperature: {{ weather.temperature }}°C</p>
        <p>Humidity: {{ weather.humidity }}%</p>
        <p>PM10: {{ weather.pm10 }} μg/m³</p>
    </div>

</div>
 -->
<div class="map-container" id="map"></div>
<div class="margin-top">
    <p-tabs value="0">
        <p-tablist>
            <p-tab value="0">
                <i class="pi pi-users"></i>
                <span>Workers</span>
            </p-tab>
            <p-tab value="1">
                <i class="pi pi-chart-line"></i>
                <span>Readings</span>
            </p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <p class="m-0">
                    <p-table [value]="workers" [paginator]="true" [rows]="10" dataKey="id" editMode="row"
                        [tableStyle]="{'min-width': '50rem'}" class="tableColor">
                        <ng-template #header>
                            <tr class="tableHeader">
                                <th style="width:10%">Code</th>
                                <th style="width:20%">Name</th>
                                <th style="width:20%">Surname</th>
                                <th style="width:5%"></th>
                                <th style="width:5%"></th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-worker let-ri="rowIndex">
                            <tr class="tableRow">
                                <td>
                                    {{worker.id}}
                                </td>
                                <td>
                                        <ng-template #output>
                                            {{worker.name}}
                                        </ng-template>
                                </td>
                                <td>
                                        <ng-template #output>
                                            {{worker.surname}}
                                        </ng-template>
                                </td>
                                <td>
                                    <p-button icon="pi pi-info" text rounded severity="secondary"
                                         />
                                </td>
                                <td>
                                    <p-button icon="pi pi-trash" text rounded severity="secondary" />
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p>
            </p-tabpanel>
            <p-tabpanel value="1">
                <p>Readings</p>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>