/* General layout container */
.layout {
    display: grid;
    grid-template-rows: 60px auto;
    /* Top navbar height */
    grid-template-columns: 15% auto;
    /* Sidebar width */
    height: 100vh;
    /* Full viewport height */
}

.p-menubar-item-link {
    color: black !important;
}

/* Top Navbar */
.top-navbar {
    grid-column: span 2;
    /* Spans across both sidebar and content */
    background-color: #f8f9fa;
    /* Blue background for navbar */
    color: white;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.menuTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    --p-menubar-background: none;
    --p-menubar-border-color: none;
    --p-menubar-item-focus-background: #34d399;
}

.logout-button {
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    color: black;
    /* Ensure text is visible */
    background-color: transparent;
}



.top-logo {
    width: 25%;
    /* Adjust as needed */
    height: auto;
    margin-left: 25px;
    margin-top: 10px;
}

/* Sidebar */
.sidebar {
    grid-row: span 2;
    /* Spans the entire height below the top navbar */
    background-color: #f8f9fa;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    z-index: 100;
}

.menuLeft {
    width: 100%;
    --p-menubar-background: none;
    --p-menubar-border-color: none;
    --p-menubar-root-color: black;
    --p-menubar-item-focus-background: #34d399;
}



.banner {
    width: 80%;
    height: auto;
    margin-bottom: 1rem;
}

/* Main Content */
.content {
    padding: 1rem;
    overflow-y: auto;
    /* Allow scrolling if content overflows */
}

@media (max-width: 768px) {
    .layout {
        grid-template-rows: 60px auto;
        grid-template-columns: 100%;
        /* Collapse sidebar */
    }

    .sidebar {
        display: none;
        /* Hide sidebar */
    }

    .content {
        grid-column: span 1;
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .top-navbar {
        padding: 0.5rem;
    }

    .top-logo {
        width: 30px;
        /* Smaller logo */
    }
}

.colorBlack {
    color: black;
}

/* From Uiverse.io by alexruix */
.loader {
    width: 112px;
    height: 112px;
}

.box1,
.box2,
.box3 {
    border: 16px solid #000000;
    box-sizing: border-box;
    position: absolute;
    display: block;
}

.box1 {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
    animation: abox1 4s 1s forwards ease-in-out infinite;
}

.box2 {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
    animation: abox2 4s 1s forwards ease-in-out infinite;
}

.box3 {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
    animation: abox3 4s 1s forwards ease-in-out infinite;
}

@keyframes abox1 {
    0% {
        width: 112px;
        height: 48px;
        margin-top: 64px;
        margin-left: 0px;
    }

    12.5% {
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 0px;
    }

    25% {
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 0px;
    }

    37.5% {
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 0px;
    }

    50% {
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 0px;
    }

    62.5% {
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 0px;
    }

    75% {
        width: 48px;
        height: 112px;
        margin-top: 0px;
        margin-left: 0px;
    }

    87.5% {
        width: 48px;
        height: 48px;
        margin-top: 0px;
        margin-left: 0px;
    }

    100% {
        width: 48px;
        height: 48px;
        margin-top: 0px;
        margin-left: 0px;
    }
}

@keyframes abox2 {
    0% {
        width: 48px;
        height: 48px;
        margin-top: 0px;
        margin-left: 0px;
    }

    12.5% {
        width: 48px;
        height: 48px;
        margin-top: 0px;
        margin-left: 0px;
    }

    25% {
        width: 48px;
        height: 48px;
        margin-top: 0px;
        margin-left: 0px;
    }

    37.5% {
        width: 48px;
        height: 48px;
        margin-top: 0px;
        margin-left: 0px;
    }

    50% {
        width: 112px;
        height: 48px;
        margin-top: 0px;
        margin-left: 0px;
    }

    62.5% {
        width: 48px;
        height: 48px;
        margin-top: 0px;
        margin-left: 64px;
    }

    75% {
        width: 48px;
        height: 48px;
        margin-top: 0px;
        margin-left: 64px;
    }

    87.5% {
        width: 48px;
        height: 48px;
        margin-top: 0px;
        margin-left: 64px;
    }

    100% {
        width: 48px;
        height: 48px;
        margin-top: 0px;
        margin-left: 64px;
    }
}

@keyframes abox3 {
    0% {
        width: 48px;
        height: 48px;
        margin-top: 0px;
        margin-left: 64px;
    }

    12.5% {
        width: 48px;
        height: 48px;
        margin-top: 0px;
        margin-left: 64px;
    }

    25% {
        width: 48px;
        height: 112px;
        margin-top: 0px;
        margin-left: 64px;
    }

    37.5% {
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 64px;
    }

    50% {
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 64px;
    }

    62.5% {
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 64px;
    }

    75% {
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 64px;
    }

    87.5% {
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 64px;
    }

    100% {
        width: 112px;
        height: 48px;
        margin-top: 64px;
        margin-left: 0px;
    }
}

.columnNav {
    float: left;
}

/* Clear floats after the columns */
.rowNav:after {
    content: "";
    display: table;
    clear: both;
}

.float-rightNav {
    float: right;
    margin-right: -20px;
}
