<div class="layout">
    <!-- Top Navbar -->
    <div class="top-navbar">
        <p-menubar class="menuTop colorBlack ">
            <ng-template #start>
                <span class="inline-flex items-center gap-2">
                    <img src="assets/images/bannerLogo.png" alt="Logo" class="top-logo">
                </span>
            </ng-template>
            <ng-template #end>
                <span class="logout-button">
                    Logout
                </span>
            </ng-template>
        </p-menubar>
    </div>

    <!-- Left Sidebar -->
    <div class="sidebar">
        <p-menubar [model]="leftItems" class="menuLeft">
            
        </p-menubar>
    </div>

    <!-- Main Content -->
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>