<div class="layout">
    <!-- Top Navbar -->
    <div class="top-navbar">
        
            <div class="rowNav">
                <div class="columnNav logout-button">
                    <img src="assets/images/bannerLogo.png" alt="Logo" class="top-logo">
                </div>
                <div class="columnNav">
                    <p-button (click)="back()" icon="pi pi-angle-left" class="float-rightNav margin-right" label="Logout" />
                </div>
            </div>
        
    </div>

    <!-- Left Sidebar -->
    <div class="sidebar">
        <p-menubar [model]="leftItems" class="menuLeft">
            
        </p-menubar>
    </div>

    <!-- Main Content -->
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>