<div class="layout">
    <!-- Top Navbar -->
    <div class="top-navbar">
        
            <div class="rowNav">
                <div class="columnNav logo-container">
                    <img src="assets/images/bannerLogo.png" alt="Logo" class="top-logo">
                </div>
                <div class="columnNav button-container">
                    <p-button (click)="logout()" icon="pi pi-sign-out" class="logout-button" label="Logout"></p-button>
                </div>
            </div>
        
    </div>

    <!-- Left Sidebar -->
    <div class="sidebar">
        <p-menubar [model]="leftItems" class="menuLeft">
            
        </p-menubar>
    </div>

    <!-- Main Content -->
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>