
<div id="nav">
    <h3><b>SAFE</b>HELMET</h3>
    <button type="button" routerLink="/login">Login</button>
</div>

<div id="main">
    <div id="page">
        <div id="loop">
            <h1><b>SECURITY</b> IS THE NUMBER <b><i>ONE</i></b> <span>PRIORITY</span> IN EVERY <span><i>CONSTRUCTION
                        SITE.</i></span></h1>
            <h1><b>SECURITY</b> IS THE NUMBER <b><i>ONE</i></b> <span>PRIORITY</span> IN EVERY <span><i>CONSTRUCTION
                        SITE.</i></span></h1>
            <h1><b>SECURITY</b> IS THE NUMBER <b><i>ONE</i></b> <span>PRIORITY</span> IN EVERY <span><i>CONSTRUCTION
                        SITE.</i></span></h1>
        </div>
        <model-viewer src="assets/models/construction_helmet.glb" alt="A 3D model of a helmet" camera-controls="false"
            interaction-prompt="none" disable-zoom ar style="width: 100%; height: 600px;">
        </model-viewer>

    </div>
    <div id="page1">
        <div class="ag-format-container">
            <div class="ag-courses_box">
                <div class="ag-courses_item">
                    <a href="#" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
        
                        <div class="ag-courses-item_title">
                            Smart Helmet for Worker Safety
                        </div>
        
                       
                    </a>
                </div>
        
                <div class="ag-courses_item">
                    <a href="#" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
        
                        <div class="ag-courses-item_title">
                            IoT Integration for Construction
                        </div>
        
                    </a>
                </div>
        
                <div class="ag-courses_item">
                    <a href="#" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
        
                        <div class="ag-courses-item_title">
                            Helmet with Air Quality Sensors
                        </div>
        
                        
                    </a>
                </div>
        
                <div class="ag-courses_item">
                    <a href="#" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
        
                        <div class="ag-courses-item_title">
                            PM10 Smoke and Methane Monitoring
                        </div>
        
                        
                    </a>
                </div>
        
                <div class="ag-courses_item">
                    <a href="#" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
        
                        <div class="ag-courses-item_title">
                            Bluetooth Low Energy Connection
                        </div>
        
                        
                    </a>
                </div>
        
                <div class="ag-courses_item">
                    <a href="#" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
        
                        <div class="ag-courses-item_title">
                            Desktop App Implementation
                        </div>
                    </a>
                </div>
        
                <div class="ag-courses_item">
                    <a href="#" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg">
                        </div>
                        <div class="ag-courses-item_title">
                            Protecting our emplyees
                        </div>
                    </a>
                </div>
        
                <div class="ag-courses_item">
                    <a href="#" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
        
                        <div class="ag-courses-item_title">
                            Improve Safety on Worksites
                        </div>
        
                    
                    </a>
                </div>
        
            </div>
        </div>
    </div>
    <div id="page2">
        <div class="ag-format-container">
            <div class="ag-courses_box">
                <div class="ag-title">
                    Using the latest technologies to guarantee results
                </div>
            </div>
            <div class="ag-courses_box">
                <div class="logo-container-tech">
                    <img src="assets/images/ble-logo.webp" alt="Bluetooth Low Energy" class="logo-tech" />
                    
                    <img src="assets/images/iot-logo.png" alt="Smart Helmet for Worker Safety" class="logo-tech" />
                    
                    <img src="assets/images/arduino-logo.png" alt="Smart Helmet for Worker Safety" class="logo-tech" />
                    
                </div>
                <div class="logo-text-container-tech">
                    <p class="logo-tech logo-text">Bluetooth Low Enery</p>
                    <p class="logo-tech logo-text">Internet of things</p>
                    <p class="logo-tech logo-text">Arduino</p>
                </div>
            </div>

        </div>
    </div>
    <div id="page3"></div>
</div>
