
<div id="nav">
    <h3><b>SAFE</b>HELMET</h3>
    <button type="button" routerLink="/login">Login</button>
</div>

<div id="main">
    <div id="page">
        <div id="loop">
            <h1><b>SECURITY</b> IS THE NUMBER <b><i>ONE</i></b> <span>PRIORITY</span> IN EVERY <span><i>CONSTRUCTION
                        SITE.</i></span></h1>
            <h1><b>SECURITY</b> IS THE NUMBER <b><i>ONE</i></b> <span>PRIORITY</span> IN EVERY <span><i>CONSTRUCTION
                        SITE.</i></span></h1>
            <h1><b>SECURITY</b> IS THE NUMBER <b><i>ONE</i></b> <span>PRIORITY</span> IN EVERY <span><i>CONSTRUCTION
                        SITE.</i></span></h1>
        </div>
        <canvas></canvas>
    </div>
    <div id="page1">
        <div class="info-card">
            <div class="icon-container">
                <i class="pi pi-shield" aria-hidden="true"></i>
            </div>
            <div class="info-text">
                <h3>STAY SAFE</h3>
                <p>Our helmets ensure top-level safety with smart technology for every worker on site.</p>
            </div>
        </div>
        <div class="info-card">
            <div class="icon-container">
                <i class="pi pi-mobile" aria-hidden="true"></i>
            </div>
            <div class="info-text">
                <h3>SMART HELMET TECH</h3>
                <p>Equipped with sensors, our helmets notify workers about potential hazards and track real-time data.</p>
            </div>
        </div>
        <div class="info-card">
            <div class="icon-container">
                <i class="pi pi-users" aria-hidden="true"></i>
            </div>
            <div class="info-text">
                <h3>TEAM SAFETY FIRST</h3>
                <p>We believe in collective responsibility. Every worker is accountable for each other's safety.</p>
            </div>
        </div>
    </div>
    <div id="page2"></div>
    <div id="page3"></div>
</div>
