

<div class="row">
    <div class="column">
        <h2>New Worker</h2>
    </div>
    <div class="column">
        <p-button (click)="lookup()" icon="pi pi-search" class="float-right margin-right" label="Search existing" />
        <p-button (click)="back()" icon="pi pi-angle-left" class="float-right margin-right" label="Back" />
    </div>
</div>



<p-dialog header="Search worker" [(visible)]="showSearchDialog" [modal]="true" [closable]="true" [draggable]="false"
    [resizable]="false" [style]="{ width: '70vw' }">
    <div class="p-fluid">
        <div class="p-field rowForm">
            <label for="name">Name:</label>
            <input pInputText id="name" [(ngModel)]="filterValues.name" placeholder="Enter name" />
        </div>
        <div class="p-field rowForm">
            <label for="surname">Surname:</label>
            <input pInputText id="surname" [(ngModel)]="filterValues.surname" placeholder="Enter surname" />
        </div>
        <div class="p-field rowForm">
            <label for="fiscal_code">Fiscal code:</label>
            <input pInputText id="fiscal_code" [(ngModel)]="filterValues.fiscal_code" placeholder="Enter fiscal code" />
        </div>
    </div>
    <br>
    <button pButton type="button" label="Apply" icon="pi pi-check" class="p-button-success margin-bottom"
        (click)="applyFilters()"></button>
    <button pButton type="button" label="Reset" icon="pi pi-times" class="p-button-secondary margin-left margin-bottom"
        (click)="clearFilter()"></button>
    
    <br>
    <p-table [value]="filteredWorkers" [paginator]="true" [rows]="10" dataKey="id" [tableStyle]="{ 'min-width': '50rem' }"
        class="tableColor">
        <ng-template #header>
            <tr class="tableHeader">
                <th style="width:10%">Code</th>
                <th pSortableColumn="name" style="width:20%">Name
                    <p-sortIcon field="name" />
                </th>
                <th pSortableColumn="surname" style="width:20%">Surname
                    <p-sortIcon field="surname" />
                </th>
                <th style="width:20%">Fiscal code</th>
                <th style="width:5%"></th>
            </tr>
        </ng-template>
        <ng-template #body let-worker let-ri="rowIndex">
            <tr class="tableRow">
                <td>{{ worker.id }}</td>
                <td>
                    {{ worker.name }}
                </td>
                <td>
                    {{ worker.surname }}
                </td>
                <td>
                    {{ worker.fiscal_code }}
                </td>
                <td>
                    <p-button rounded severity="secondary"
                        label="Select" (click)="hireExisting(worker)"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>


<p-toast />

<div class="form-container">
    <form [formGroup]="workerForm" (ngSubmit)="addWorker()">
        <div class="rowForm">
            <label for="name">Name:</label>
            <input id="name" type="text" pInputText formControlName="name" />
        </div>
        <div class="rowForm ">
            <label for="surname">Surname:</label>
            <input id="surname" type="text" pInputText formControlName="surname" />
        </div>
        <div class="rowForm">
            <label for="email">Email:</label>
            <input id="email" type="text" pInputText formControlName="email" />
        </div>
        <div class="rowForm">
            <label for="password">Password:</label>
            <input id="password" type="text" pInputText formControlName="password" />
        </div>
        <div class="rowForm">
            <label for="phone">Phone:</label>
            <input id="phone" type="text" pInputText formControlName="phone" />
        </div>
        <div class="rowForm">
            <label for="fiscal_code">Fiscal code:</label>
            <input id="fiscal_code" type="text" pInputText formControlName="fiscal_code" />
        </div>
        <p-button type="submit" label="Submit" icon="pi pi-check" class="margin-left margin-top"></p-button>
    </form>
</div>

