<div class="row">
    <div class="column">
        <h2>New Worker</h2>
    </div>
    <div class="column">
        <p-button (click)="back()" icon="pi pi-angle-left" class="float-right margin-right" label="Back" />
    </div>
</div>

<p-toast />

<div class="form-container">
    <form [formGroup]="workerForm" (ngSubmit)="addWorker()">
        <div class="rowForm">
            <label for="name">Name:</label>
            <input id="name" type="text" pInputText formControlName="name" />
        </div>
        <div class="rowForm ">
            <label for="address">Surname:</label>
            <input id="address" type="text" pInputText formControlName="surname" />
        </div>
        <div class="rowForm">
            <label for="city">Worksite:</label>
            <input id="city" type="text" pInputText formControlName="worksiteId" readonly />
        </div>
        <p-button type="submit" label="Submit" icon="pi pi-check" class="margin-left margin-top"></p-button>
    </form>
</div>

