<div class="row">
    <div class="column">
        <h2>Detail</h2>
    </div>
    <div class="column">
        <p-button (click)="downloadReading()" icon="pi pi-save" class="float-right margin-right" label="Download" />
        <p-button (click)="back()" icon="pi pi-angle-left" class="float-right margin-right" label="Back" />
    </div>
</div>
<div class="details-container">
    <div class="detail-item" *ngIf="reading">
        <strong>Reading ID:</strong> {{reading.id}}
    </div>
    <div class="detail-item" *ngIf="reading">
        <strong>Worker:</strong> {{worker?.name}} {{worker?.surname}}
    </div>
    <div class="detail-item" *ngIf="reading">
        <strong>Worksite location:</strong> {{worksite?.address}}, {{worksite?.city}}, {{worksite?.state}}
    </div>
    <div class="detail-item" *ngIf="reading">
        <strong>Read At:</strong> {{reading.read_at | date:'dd/MM/yyyy HH:mm:ss'}}
    </div>
    <div class="detail-item" *ngIf="reading">
        <strong>Temperature:</strong> {{reading.temperature}}
    </div>
    <div class="detail-item" *ngIf="reading">
        <strong>Humidity:</strong> {{reading.humidity}}
    </div>
    <div class="detail-item" *ngIf="reading">
        <strong>Brightness:</strong> {{reading.brightness}}
    </div>
    <div class="detail-item" *ngIf="reading">
        <strong>Methane:</strong> {{reading.methane}}
    </div>
    <div class="detail-item" *ngIf="reading">
        <strong>Carbon Monoxide:</strong> {{reading.carbon_monoxide}}
    </div>
    <div class="detail-item" *ngIf="reading">
        <strong>Smoke detection:</strong> {{reading.smoke_detection}}
    </div>
    <div class="detail-item" *ngIf="reading">
        <strong>Uses welding protection:</strong> {{reading.uses_welding_protection}}
    </div>
    <div class="detail-item" *ngIf="reading">
        <strong>Uses gas protection:</strong> {{reading.uses_gas_protection}}
    </div>
    <div class="detail-item" *ngIf="reading">
        <strong>Average X:</strong> {{reading.avg_X}}
    </div>
    <div class="detail-item" *ngIf="reading">
        <strong>Average Y:</strong> {{reading.avg_Y}}
    </div>
    <div class="detail-item" *ngIf="reading">
        <strong>Average Z:</strong> {{reading.avg_Z}}
    </div>
    <div class="detail-item" *ngIf="reading">
        <strong>Average G:</strong> {{reading.avg_G}}
    </div>
    <div class="detail-item" *ngIf="reading">
        <strong>Standard X:</strong> {{reading.std_X}}
    </div>
    <div class="detail-item" *ngIf="reading">
        <strong>Standard Y:</strong> {{reading.std_Y}}
    </div>
    <div class="detail-item" *ngIf="reading">
        <strong>Standard Z:</strong> {{reading.std_Z}}
    </div>
    <div class="detail-item" *ngIf="reading">
        <strong>Standard G:</strong> {{reading.std_G}}
    </div>
    <div class="detail-item" *ngIf="reading">
        <strong>Max G:</strong> {{reading.max_G}}
    </div>
    <div class="detail-item" *ngIf="reading">
        <strong>Incorrect posture:</strong> {{reading.incorrect_posture}}
    </div>
    <div class="detail-item anomalous" *ngIf="reading">
        <strong>Anomalous:</strong>
        <span [ngStyle]="{'color': reading.anomaly ? 'red' : 'inherit'}">
            {{reading.anomaly}}
            <i *ngIf="reading.anomaly" class="pi pi-exclamation-triangle" style="margin-left: 5px;"></i>
        </span>
    </div>
</div>

