<div class="row">
    <div class="column">
        <h2>Detail</h2>
    </div>
    <div class="column">
        <p-button (click)="downloadReading()" icon="pi pi-save" class="float-right margin-right" label="Download" />
        <p-button (click)="back()" icon="pi pi-angle-left" class="float-right margin-right" label="Back" />
    </div>
</div>
<div class="details-container">
    <div class="detail-item" *ngIf="reading">
        <strong>Reading ID:</strong> {{reading.id}}
    </div>
    <div class="detail-item" *ngIf="reading">
        <strong>Worker:</strong> {{name}} {{surname}}
    </div>
    <div class="detail-item" *ngIf="reading">
        <strong>Worksite:</strong> {{worksitename}}
    </div>
    <div class="detail-item" *ngIf="reading">
        <strong>Read At:</strong> {{reading.read_at}}
    </div>
    <div class="detail-item" *ngIf="reading">
        <strong>Sensor 1:</strong> {{reading.sensor1}}
    </div>
    <div class="detail-item" *ngIf="reading">
        <strong>Sensor 2:</strong> {{reading.sensor2}}
    </div>
    <div class="detail-item" *ngIf="reading">
        <strong>Sensor 3:</strong> {{reading.sensor3}}
    </div>
    <div class="detail-item anomalous" *ngIf="reading">
        <strong>Anomalous:</strong>
        <span [ngStyle]="{'color': reading.anomalous ? 'red' : 'inherit'}">
            {{reading.anomalous}}
            <i *ngIf="reading.anomalous" class="pi pi-exclamation-triangle" style="margin-left: 5px;"></i>
        </span>
    </div>
</div>

